

:root{
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: hsla(0,0%,82%,.3);
    --fc-neutral-text-color: rgba(58, 53, 65, 0.8);
    --fc-border-color: #ddd;
    --fc-button-text-color: rgb(145, 85, 253); 
    --fc-button-bg-color: 'transparent'; 
    --fc-button-border-color: rgba(58, 53, 65, 0.12); 
    --fc-button-hover-bg-color: rgb(145, 85, 253,0.12); 
    --fc-button-hover-border-color: rgb(145, 85, 253,0.12);
    --fc-button-active-bg-color: rgb(145, 85, 253,0.12); 
    --fc-button-active-border-color: rgb(145, 85, 253,0.12); 
    --fc-button-active-border:'none';
    --fc-event-bg-color:'none'; 
    --fc-event-border-color:"none" ; 
    --fc-event-selected-overlay-color: rgba(0,0,0,.25);
    --fc-event-text-color: #fff;
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0,0%,84%,.3);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188,232,241,.3);
    --fc-today-bg-color: rgba(255,220,40,.15);
    --fc-now-indicator-color: red;
}


  

